<div id='__goDumber__popover__' class='___tbb___ ___tbb__tb___ ___tbb__fa___ ___tbb__sn___ ___tbb__ee___ popover container-fluid' role='tooltip' style='margin: -18px 0px 0px !important; padding: 0px !important; background: rgb(60, 80, 130) !important; border: 8px solid rgb(60,80,130) !important; border-image-source: initial !important; border-image-slice: initial !important; border-image-width: initial !important; border-image-outset: initial !important; border-image-repeat: initial  !important; border-radius: 6px  !important; min-width: 304px !important; position: absolute !important; z-index: 2147482000 !important; max-width: 336px !important; text-align: left !important; -webkit-box-shadow: rgba(0,0,0,0.2) 0px 5px 10px !important; box-shadow: rgba(0,0,0,0.2) 0px 5px 10px !important; white-space: normal !important;'><!-- style='max-width: 320px;' -->
  <div class='arrow'></div>
  <div id='bubble' class='row panel panel-default panel-danger' style='width: 320px;'> <!--  -->
    <div id='webbles-title' class='panel-heading col-xs-12'>
      <div class='panel-title'>
        <div id='edit' class='edit popover-title' >
          
        </div>
      </div>
    </div>
    <div id='content' class='panel-body col-xs-12' style="margin: 0px !important;"> <!-- style="padding: 8px 15px 12px 15px !important;" --> 
      <div class='row'>
        <div id='__goDumber__popover__content__col__' class='col-xs-12'>
          <div id='edit' class='edit popover-content' >
            
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-3' style='padding: 0px;'>
          <form class='form-inline' role='form'>
            <div class='form-group'>
              <label class='sr-only' for='triggerType'>trigger type</label>
              <select id='__goDumber__trigger__' class='form-control'>
                <option>next</option>
                <option>click</option>
              </select>
            </div>
          </form>
        </div>
        <div class='col-xs-1' style="padding: 0px;">
        </div>
        <div class='col-xs-4' style='padding: 0px;'>
          <button id='__goDumber__bubbleSaveBtn__' class='btn btn-block btn-danger'>
            <i class='fa fa-check'></i> 저장
          </button>
        </div>
        <div class='col-xs-4' style='padding-left: 0; padding-right:12px;'>
          <button id='__goDumber__bubbleCancleBtn__' class='btn btn-block btn-default'>
            <!-- <i id='__goDumber__bubbleCancleBtn__inner__icon' class='fa fa-times'></i> --><span id='__goDumber__bubbleCancleBtn__inner__text'>취소</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div> 